*{
    margin: 0;
    box-sizing: border-box;
}

body  {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: cursive , sans-serif;


}
.board {
    width: 500px;
    height: 500px;
    display: grid;
}
footer{
    width: 400px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
}


#popup {
    margin-bottom: 20px;
}
